.conteudo {
    margin-top: 20px;
}


#inputA {
    margin-right: 25px;
}

#processar {

}

#resultado1 {
    border: solid 1px #5157fb;
    padding: 10px;
}

.conteudoResultado1 {
    margin-top: 30px;
}
